<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <a href="https://github.com/madhums/omniauth-authlogic-demo" title="fork me on github" target="_blank">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/fork-me.png" alt="Fork me on GitHub" />
    </a>
    
    <div id="container">
      <div id="logo">
        <h1><%= link_to "OmniAuth Authlogic demo", root_path %></h1>
      </div>
      <div id="user_nav">
          <%= link_to "Home", root_path %> |
        <% if current_user %>
          <%= link_to "Edit Profile", edit_user_path(:current) %> |
          <%= link_to "Signout", signout_path %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Signin", signin_path %>
        <% end %>
      </div>
      <div class="clear"></div>
      <br />
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h2><%=h yield(:title) %></h2>
      <%- end -%>
      
      <%= yield %>
      
      <div class="follow-me">
        <a href="http://twitter.com/madhums" class="twitter-follow-button" data-show-count="false">Follow @madhums</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
